/* font import */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,800;1,300;1,400;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap');

/* start reset */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body{
    font-family: 'Open Sans', sans-serif;
    width: 100vw;
    height: 100vh;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-bottom: 1px solid rgb(202, 202, 202);
    height: 20vh;

    font-family: 'Merriweather', serif;
    font-size: 5rem;
    letter-spacing: 1.4rem;
    font-weight: 900;

    background: rgb(246,246,246);
    background: radial-gradient(circle, rgba(246,246,246,1) 0%, rgba(219,219,219,1) 100%);

}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;

    padding: 1rem;
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 5vh;

    background: rgb(0,153,212);
    background: radial-gradient(circle, rgba(0,153,212,1) 50%, rgba(0,103,191,1) 100%);

    }


.table-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.30);
    border-radius: 10px;
}

.books-table{
    border-collapse: collapse;
}
.books-table td{
    padding: 5px 25px;
}
.books-table th{
    padding: 10px 0;
}
.books-table tbody tr{
    border-bottom: 1px solid whitesmoke;
}
.books-table tbody tr:nth-of-type(even) {
    background-color: whitesmoke;
}

.books-table thead{
    background-color: whitesmoke;
}
.add-book{
    padding-bottom: 1rem;
}

button{
    cursor: pointer;
}

.add-book > button{
    background-image: url("https://img.icons8.com/color/48/000000/add--v1.png");
    background-size: cover;

    width: 3rem;
    height: 3rem;
    border: none;
    background-color: transparent;
}

.add-book > button:hover{
    transform: scale(1.2);
    transition: all 0.2s;
}

.edit-btn, .del-btn, .confirm-btn{
    background-color: dodgerblue;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 0.3rem;
    padding: 0.3rem 0.5rem;
}

.del-btn{
    background-color: crimson;
}

/* modal tutorial: */
/* https://sabe.io/tutorials/how-to-create-modal-popup-box */

.modal{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}

.close-btn{
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.form-addbook{
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    width: 100%;
}
.form-addbook > label{
    padding: 0.5rem 0;
}
.form-addbook > input{
    height: 2rem;
    padding-left: 0.25rem;
    border: 1px solid rgb(200, 200, 200);
}
.form-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.confirm-btn{
    color: white;
    background-color: forestgreen;
    padding: 0.5rem;
    margin-top: 1.5rem;
}
/* SWITCH FOR MODAL */
.read-switch{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    gap: 1rem
}
.read-switch > input{
    height: 1rem;
    width: 1rem;
}
